h1 {font-size:1rem;}

@media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
}

@media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
}

@media (min-width: 768px) {  
    h1 {font-size:2rem;} /*1rem = 16px*/
}

@media (min-width: 992px) { 
    h1 {font-size:2.5rem;} /*1rem = 16px*/
}

@media (min-width: 1200px) {  
    h1 {font-size:3rem;} /*1rem = 16px*/    
}

@media (min-width: 950px) and (max-width:1100px) { 
    h1 {font-size:2.75rem;} 
}


.container-fluid {
    height: 92.6vh;
    overflow: auto;
}

.rounded {
    border-radius: 0.5rem !important;
}

.rounded-top {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
}

.rounded-bottom {
    border-bottom-left-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}

.border-p1 {
    border-width: 0.7vh !important;
    border-color: #FF1E4E !important;
    border-radius: 2vh !important;
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;    
}

.border-profile {
    border-width: 0.5em !important;
    border-color: #FF1E4E !important;
    border-radius: 2em !important;
    border-top-left-radius: 0% !important;
    border-bottom-left-radius: 0% !important;    
}

.border-p2 {
    border-width: 0.7vh !important;
    border-color: #00B0F0 !important;
    border-radius: 2vh !important;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
}

.game-image {
    height: 25.1vh;
    width: 16.7vw;
}

.h-8 {
    height: 11.5%;
}

.h-10 {
    height: 10%;
}

.h-12 {
    height: 11%;
}

.h-15 {
    height: 15%;
}

.h-35 {
    height: 35%;
}

.h-30 {
    height: 30%;
}

.h-40 {
    height: 40%;
}

.h-60 {
    height: 60%;
}

.h-70 {
    height: 70%;
}

.h-80 {
    height: 80%;
}

.profile-size {
    height: 28vh;
    width: 14vw;
    overflow: hidden;
}

.color-button {
    font-family: Futura;
    border-width: 0.4vh;
    border-color: black;
    font-size: 2.8vh;
    border-radius: 4vh;
    width: 14vw;
    height: 8vh;
    background: white;
}

.color-button:hover {  
    font-family: Futura;  
    border: none;
    font-size: 3.2vh; 
    color: white;    
    border-radius: 4vh;
    width: 14vw;
    height: 8vh;   
    background: #FF1E4E;  
}

.red-color-button {
    font-family: Futura;
    border: none;
    font-size: 3vh;
    border-radius: 4vh;
    width: 14vw;
    height: 8vh;   
    background: #FF1E4E;
    color: white; 
}

.red-color-button:hover {    
    font-family: Futura;
    border: none;
    font-size: 3.4vh; 
    color: white;    
    border-radius: 4vh;
    width: 14vw;
    height: 8vh;   
    background: black;  
}

.start-button {    
    font-family: Futura;
    border: none;    
    font-size: 2.5vh;
    border-radius: 4vh;
    width: 8vw;
    height: 6vh;   
    background: white; 
}

.start-button:hover {    
    font-family: Futura;
    border: none;
    font-size: 2.8vh; 
    color: white;    
    border-radius: 4vh;
    width: 8vw;
    height: 6vh;   
    background: #FF1E4E;  
}

.reset-button {
    font-family: Futura;
    border-width: 0.4vh;
    border-color: black;
    font-size: 2.2vh;
    color: white;
    background: #C00000;
    border-radius: 4vh;
    width: 6vw;
    height: 6vh;     
}

.reset-button:hover {
    font-family: Futura;
    border-width: 0.6vh;
    border-color: black;
    font-size: 2.3vh;    
    color: black;
    background: #C00000;
    border-radius: 4vh;
    width: 6vw;
    height: 6vh;     
}


.name {
    font-size: calc(100% + 0.8vw + 0.8vh) !important;
    font-weight: 600;
    padding-left: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white !important;
}

.name-top {
    font-size: calc(100% + 0.1vw + 0.1vh) !important;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black !important;
}

.pad-0{
    padding-right:0 !important;
    padding-left:0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.pad-0-col{       
    padding-top: 0 !important;    
    padding-bottom: 0 !important;
}

.p1bg {
    background: #FF1E4E !important;    
    padding-top: 0 !important;
}

.p2bg {
    background: #00B0F0 !important;
}

.info {
    font-size: calc(100% + 0.1vw + 0.1vh) !important;
    padding-left: 1.0em !important;;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white !important;
}

/* Board CSS */

body {
    margin: 0;
    font-family: "Helvetica", "Verdana", "Roboto", sans-serif;
}

h1 {
    margin: 0 0 15px;
    padding: 15px;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    background-color: #1f90ff;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.board {
    position: relative;
    width: 550px;
    height: 550px;
}

.field {
    position: absolute;
    top: 0;
    left: 15px;    
    box-sizing: border-box;
    width: 520px;
    height: 535px;
    overflow: hidden;
    cursor: not-allowed;
}

.grid {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    min-width: 520px;
    height: 460px;
    counter-reset: player 1;
}

.column {
    display: inline-flex;
    flex-flow: column wrap;
    height: 460px;
}

.front {
    position: absolute;
    top: 20px;
    border: 10px solid #007fff;
    border-radius: 4px;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    pointer-events: none;
    background: radial-gradient(circle, transparent, transparent 18px, #007221 20px, #e100ff 23px, #ff1f7c 23px, #ff1f1f 36px, #ffee00) center top/60px 60px;
}

/* Invisible inputs */

input {
    display: none;
    position: absolute;
    top: -90px;
    margin: 0;
    width: 60px;
    height: 450px;
    cursor: pointer;
    opacity: 0;
}

/* Disc */

.disc {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    color: #fff;
    background: radial-gradient(circle, currentcolor 12px, #666 13px, currentcolor 14px, currentcolor 21px, #666 22px, transparent 23px, transparent) center/60px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s, top 0s 0.2s, color 0s 0.2s;
}

.top-disc-p1 {
    size: calc(100% + 30vw + 30vh);
    color: white !important;
}

.disc-disabled {
    size: calc(100% + 30vw + 30vh);
    color: white !important;
}

.top-disc-p2 {
    size: calc(100% + 30vw + 30vh);
    color: white !important;
}

.filled-disc {
    size: calc(100% + 0.8vw + 0.8vh);
    color: #FF1E4E !important;
}

.filled-red-disc {
    size: calc(100% + 0.8vw + 0.8vh);
    color: #FF1E4E !important;
}

.filled-blue-disc {
    size: calc(100% + 0.8vw + 0.8vh);
    color: #00B0F0 !important;
}

.top-disc-p1:hover {
    color: #FF1E4E !important;
}

.top-disc-p2:hover {
    color: #00B0F0 !important;
}

.board-disc-p1 {
    color:white !important;
}

.board-disc-p1:hover {
    color: #FF1E4E !important;
}

.board-disc-p2 {
    color:white !important;
}

.board-disc-p2:hover {
    color: #00B0F0 !important;
}

.round-top-left {
    border-top-left-radius: 1.5rem;
}

.round-top-right {
    border-top-right-radius: 1.5rem;
}

.round-bottom-right {
    border-bottom-right-radius: 1.5rem;
}

.round-bottom-left {
    border-bottom-left-radius: 1.5rem;
}

@font-face {
    font-family: 'FuturaExtraBold';
    src: local('FuturaExtraBold'),
         url('../fonts/Futura-CondensedExtraBold-05.ttf') format("truetype");
}

@font-face {
    font-family: 'FuturaItalic';
    src: local('FuturaItalic'),
         url('../fonts/Futura-MediumItalic-02.ttf') format("truetype");
}

@font-face {
    font-family: 'Futura';
    src: local('Futura'),
         url('../fonts/Futura-Medium-01.ttf') format("truetype");
}

@font-face {
    font-family: 'FuturaBoldItalic';
    src: local('FuturaBoldItalic'),
         url('../fonts/Futura Bold Italic.otf') format("truetype");
}

.cross-button {
    color: white;
}

.cross-button -black{
    color: black;
}

.cross-button:hover {
    color:#FF1E4E;
}

.cross-button-black:hover {
    color:#FF1E4E;
}

.turn-text {
    font-size: 3.3vh;    
    line-height: 10vh;
    font-family: 'Futura';        
}

.modal-result-text {
    font-size: 5.5vh;        
    font-family: 'Futura';        
}

.timer-text {
    font-size: 7vh;
    line-height: 10vh;
    font-family: 'FuturaItalic';        
}

.bg-timer {
    background: #F2F2F2;
}

@keyframes tada {
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
 }

 @-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);}
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
    100% {-webkit-transform: scale(1) rotate(0);}
 }

 .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
   -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }

 .tada {
    -webkit-animation-name: tada;
    animation-name: tada;
 }

 .result-modal {
     height: 30vh;
     width: 40vw;
 }
