.big-heading {
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding: 25px 50px;
	background-color: blue;
	color:white;
}

.user-info {
    text-align: right;
    font-family: sans-serif; 
    padding-right: 30px;
    font-size: x-large;
}
.border-paragraph {
	border: 5px solid black;
}
.message {
    color:blue;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-family: sans-serif;
    padding: 25px 50px;
}

.search-bar {
    text-align: center;
    padding: 25px 50px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-family: sans-serif;
    font-size: x-large;
    padding: 25px 50px;
}
.page-name {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	font-family:sans-serif;
	font-size:large;
	
}
.error {
    color:red;
}

.list {
    padding: 3px;
}

.list-link {
    padding: 5px;
}

.list-link:hover {
     background-color:lightgray;
}

th {
    font-weight: normal;
    text-align: left;
}

a {
     text-decoration: none;
     color:black;
}

button {
    font-size: x-large;
    padding: 3px;
}

input {
    font-size: x-large;
}

div, form {
    padding: 4px;
}


.navlink {
    background-color: lightgray;
}

.letter {
    padding: 3px;
    font-family: sans-serif;
    font-size: x-large;

}
textarea {
	border: 1px solid #888; 
	padding:20px;
	
}
.letter:hover {
     background-color:lightgray;
}
/*Got from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown*/
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}