.container-fluid {
    height: 100vh;
    overflow: auto;
}

.border-p1 {
    border-width: 5px !important;
    border-color: #FF1E4E !important;
    border-radius: 15px !important;
    border-top-left-radius: 0% !important;
    border-top-right-radius: 0% !important;
}

.border-p2 {
    border-width: 5px !important;
    border-color: #00B0F0 !important;
    border-radius: 15px !important;
    border-bottom-left-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
}

.h-80 {
    height: 80%;
}

.h-10 {
    height: 10%;
}

.h-35 {
    height: 35%;
}

.h-30 {
    height: 30%;
}

.name {
    font-size: 180% !important;
    font-weight: 600;
    padding-left: 0.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white !important;
}

.p1bg {
    background: #FF1E4E !important;
}

.p2bg {
    background: #00B0F0 !important;
}

.info {
    font-size: 120% !important;
    padding-left: 0.8em;
    padding-bottom: 0.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white !important;
}

/* Board CSS */

body {
    margin: 0;
    font-family: "Helvetica", "Verdana", "Roboto", sans-serif;
}

h1 {
    margin: 0 0 15px;
    padding: 15px;
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    background-color: #1f90ff;
}

form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.board {
    position: relative;
    width: 450px;
    height: 450px;
}

.field {
    position: absolute;
    top: 0;
    left: 15px;
    padding: 75px 0 0 0;
    box-sizing: border-box;
    width: 420px;
    height: 435px;
    overflow: hidden;
    cursor: not-allowed;
}

.grid {
    display: inline-flex;
    flex-flow: column wrap;
    position: relative;
    min-width: 420px;
    height: 360px;
    counter-reset: player 1;
}

.column {
    display: inline-flex;
    flex-flow: column wrap;
    height: 360px;
}

.front {
    position: absolute;
    top: 60px;
    border: 15px solid #007fff;
    border-radius: 4px;
    box-sizing: border-box;
    width: 450px;
    height: 390px;
    pointer-events: none;
    background: radial-gradient(circle, transparent, transparent 18px, #007fff 20px, #007fff 23px, #1f90ff 23px, #1f90ff 36px, #007fff) center top/60px 60px;
}

/* Invisible inputs */

input {
    display: none;
    position: absolute;
    top: -90px;
    margin: 0;
    width: 60px;
    height: 450px;
    cursor: pointer;
    opacity: 0;
}

/* Disc */

.disc {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    color: #fff;
    background: radial-gradient(circle, currentcolor 12px, #666 13px, currentcolor 14px, currentcolor 21px, #666 22px, transparent 23px, transparent) center/60px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s, top 0s 0.2s, color 0s 0.2s;
}