{% extends "connect4/base_with_nav.html" %}
{% block title %} Play Game {% endblock %}

{% block page-name %}
{% endblock %}

{% block content %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        {% load static %}
        <link href="{% static 'connect4/css/custom.css' %}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/static/connect4/js/base.js"></script>
    </head>

    <body>
        {% csrf_token %}
        <div id="error"></div>
        <div class="container-fluid">
            <div class="row h-100 pad-0" id="main_container_row">
                <div class="col-2 pad-0" id="players_div">
                    <div class="row h-35 pad-0" id="opponent_div">
                        <div class="col-12 pad-0-col">
                            <img src="{% url 'get_photo' opponent.id %}" class="game-image border border-p1" alt="opponent">
                        </div>
                    </div>
                    <div class="row h-15 d-flex flex-wrap align-items-center">   
                        <div class="col w-100 pad-0-col">
                            <div id="id_turn_div" class="h-100 w-100 mx-auto d-block rounded text-center turn-text"></div>
                        </div>                                             
                    </div>
                    <div class="row h-15 d-flex flex-wrap align-items-center">   
                        <div class="col w-100 pad-0-col">
                            <div id="id_timer_div" class="bg-timer h-100 w-100 mx-auto d-block rounded text-center timer-text">00:00</div>
                        </div>                                             
                    </div>
                    <div class="row h-35 align-items-end pad-0" id="player_div">
                        <div class="col-12 pad-0-col">
                            <img src="{% url 'get_photo' selfplayer.id %}" class="game-image border border-p2" alt="player">
                        </div>
                    </div>
                </div>

                <div class="col-7 pad-0-col" id="players_board_div">
                    <div class="row h-10 pad-0">
                        <div class="col-12 pad-0-col">
                            <div class="row name p1bg pad-0-col"><i>{{opponent.user.username}}</i></div>
                            <div class="row info p1bg pad-0-col">{{opponent.user.get_full_name}}</div>
                            <div class="row"></div>
                        </div>
                    </div>
                    {% load static %}
                    <div class="row h-80 pad-0" id="board_div">
                        <div class="col-1 pad-0-col"></div>
                        <div class="col-11 pad-0-col">
                            <div class="row h-8 pad-0"></div>
                            <div class="row h-12 pad-0">
                                <div class="col-2 pad-0"></div>
                                <div class="col-1 pad-0 d-flex flex-wrap align-items-center" onclick="add_disc(0)"><i id="topdisc_0" class="fas fa-circle fa-4x mx-auto top-disc-p1 pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex flex-wrap align-items-center" onclick="add_disc(1)"><i id="topdisc_1" class="fas fa-circle fa-4x mx-auto top-disc-p1 pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex flex-wrap align-items-center" onclick="add_disc(2)"><i id="topdisc_2" class="fas fa-circle fa-4x mx-auto top-disc-p1 pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex flex-wrap align-items-center" onclick="add_disc(3)"><i id="topdisc_3" class="fas fa-circle fa-4x mx-auto top-disc-p1 pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex flex-wrap align-items-center" onclick="add_disc(4)"><i id="topdisc_4" class="fas fa-circle fa-4x mx-auto top-disc-p1 pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex flex-wrap align-items-center" onclick="add_disc(5)"><i id="topdisc_5" class="fas fa-circle fa-4x mx-auto top-disc-p1 pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex flex-wrap align-items-center" onclick="add_disc(6)"><i id="topdisc_6" class="fas fa-circle fa-4x mx-auto top-disc-p1 pad-0"></i></div>                                
                            </div>
                            <div class="row h-12 pad-0">
                                <div class="col-2 pad-0"></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center h-100 round-top-left" onclick="add_disc(0)"><i id="disc_50" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(1)"><i id="disc_51" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(2)"><i id="disc_52" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(3)"><i id="disc_53" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(4)"><i id="disc_54" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(5)"><i id="disc_55" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center round-top-right" onclick="add_disc(6)"><i id="disc_56" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>                               
                            </div>                            

                            <div class="row h-12 pad-0">
                                <div class="col-2 pad-0"></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center h-100" onclick="add_disc(0)"><i id="disc_40" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(1)"><i id="disc_41" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(2)"><i id="disc_42" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(3)"><i id="disc_43" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(4)"><i id="disc_44" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(5)"><i id="disc_45" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(6)"><i id="disc_46" class="fas fa-circle fa-4x mx-auto board-disc pad-0"></i></div>                                
                            </div>
                            <div class="row h-12 pad-0">
                                <div class="col-2 pad-0"></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center h-100" onclick="add_disc(0)"><i id="disc_30" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(1)"><i id="disc_31" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(2)"><i id="disc_32" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(3)"><i id="disc_33" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(4)"><i id="disc_34" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(5)"><i id="disc_35" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(6)"><i id="disc_36" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>                                
                            </div>
                            <div class="row h-12 pad-0">
                                <div class="col-2 pad-0"></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center h-100" onclick="add_disc(0)"><i id="disc_20" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(1)"><i id="disc_21" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(2)"><i id="disc_22" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(3)"><i id="disc_23" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(4)"><i id="disc_24" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(5)"><i id="disc_25" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(6)"><i id="disc_26" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>                                
                            </div>
                            <div class="row h-12 pad-0">
                                <div class="col-2 pad-0"></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center h-100" onclick="add_disc(0)"><i id="disc_10" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(1)"><i id="disc_11" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(2)"><i id="disc_12" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(3)"><i id="disc_13" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(4)"><i id="disc_14" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(5)"><i id="disc_15" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(6)"><i id="disc_16" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>                                
                            </div>
                            <div class="row h-12 pad-0">
                                <div class="col-2 pad-0"></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center h-100 round-bottom-left" onclick="add_disc(0)"><i id="disc_00" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(1)"><i id="disc_01" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(2)"><i id="disc_02" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(3)"><i id="disc_03" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(4)"><i id="disc_04" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center" onclick="add_disc(5)"><i id="disc_05" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>
                                <div class="col-1 pad-0 d-flex bg-warning flex-wrap align-items-center round-bottom-right" onclick="add_disc(6)"><i id="disc_06" class="fas fa-circle fa-4x mx-auto board-disc"></i></div>                                
                            </div>
                            <div class="row h-8 pad-0"></div>                            
                        </div>                        
                    </div>
                    <div class="row h-10 align-items-end pad-0">
                        <div class="col-12 pad-0-col">
                            <div class="row name p2bg pad-0-col"><i>{{selfplayer.user.username}}</i></div>
                            <div class="row p2bg info pad-0-col">{{selfplayer.user.get_full_name}}</div>
                        </div>
                    </div>
                </div>

                <div class="col-3 card bg-transparent card-body" id="chat_div">
                    <div class="row"></div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="id_result_modal" role="dialog">
            <div class="modal-dialog">            
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">                    
                        <h4 class="modal-title">Game Over!</h4>
                    </div>
                    <div class="modal-body">
                        <p id="id_modal_text"></p>
                    </div>
                    <div class="modal-footer">
                        <a id="id_close_modal" class="btn btn-default" href={% url 'home' %}>Close</a>                        
                    </div>
                </div>
            </div>
        </div>

    </body>
    <script>
        let myUserName = "{{ request.user.username }}"
        let playerId = "{{ request.user.id }}"
        let player1 = "{{ player1 }}"
        let player2 = "{{ player2 }}"
        let gameId = "{{ game_id }}";
        function add_disc(col) {
            playTurn(gameId, playerId, col);
        }
        window.onload = () => pollGame(gameId)
        window.setInterval(pollGame, 2000, gameId);
    </script>

{% endblock %}